/* Home */

@media screen and (min-width: 950px) {
  .homeMainPanel {
    flex-direction: row !important;
  }

  .checkInContainer {
    /* background: orange; */
    padding: var(--module-4);
  }
}

.homeContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.homeMainPanel {
  display: flex;
  flex: 1;
  flex-direction: column;
}

h5 {
  font-weight: bold;
}

.detailsContainer,
.checkInContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex: 1;
}

/* Details */

.details,
.checkIn {
  padding: var(--module-4);
  border-radius: var(--module-4);
  width: 100%;
  min-height: 30rem;
}

.detailsHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--module-4);
  background: var(--bg-secondary);
  padding: var(--module-1) var(--module-4);
  border-radius: var(--module-4);
}

.detailsBody {
  font-size: large;
  padding-top: var(--module-3);
  padding-left: var(--module-4);
}

.detail {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--module-4);
  color: var(--text-secondary);
}

.blogButton {
  margin-top: var(--module-5);
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  color: var(--text-secondary);
  text-decoration: underline;
  font-size: large;
  font-weight: bold;
}

/* Check in */

.checkIn {
  background: var(--bg-secondary);
}

.checkInHeader,
.recentsHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  gap: var(--module-4);
}

.checkInBody {
}

.questionContainer {
  display: flex;
  flex-direction: column;
  gap: var(--module-3);
}

.emotionsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--module-3);
}

.emotionPill {
  color: var(--text-secondary);
  padding: var(--module-2) var(--module-4);
  border-radius: var(--module-4);
  border: 2px solid var(--bg-tertiary);
  background: var(--bg-secondary);
  font-weight: bold;
}

.emotionPillSelected {
  background: var(--bg-tertiary);
}

.causeInput {
  width: 100%;
  height: var(--module-6);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  padding: 8px 12px;
  border-radius: 8px;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  border: 1px solid var(--bg-tertiary);
  box-shadow: 0px 2px 4px var(--bg-primary);
}

.causeInput:focus {
  border-color: var(--color-blue);
  box-shadow: 0 0 0 3px var(--bg-secondary);
  background: var(--bg-primary);
  color: var(--text-tertiary);
}

.causeInput:focus-visible {
  outline: 0;
}

.buttonTray {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: var(--module-6);
}

.submitButton,
.clearButton {
  width: var(--module-8);
  padding: var(--module-3) var(--module-4);
  border-radius: var(--module-3);
  border: 2px solid var(--bg-tertiary);
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-weight: bold;
}

.submitButton {
  background: var(--bg-primary);
}

/* Recents */

.recentsContainer {
  display: flex;
  flex-direction: column;
  gap: var(--module-3);
}

.recents {
  border-radius: var(--module-4);
  padding: var(--module-4);
  display: flex;
  flex-direction: column;
  gap: var(--module-3);
}

.recentsHeader {
  font-size: large;
  font-weight: bold;
}

.recentsBody {
  display: flex;
  flex-direction: column;
  gap: var(--module-3);
}

.recentsItemButton {
  background: var(--bg-secondary);
  padding: var(--module-4) var(--module-4);
  border-radius: var(--module-2);
  border: 2px solid var(--bg-tertiary);
  color: var(--text-secondary);
  font-weight: bold;
}

.recentsPlaceholder {
  text-align: center;
  color: var(--text-tertiary);
  padding-bottom: var(--module-4);
}
