/* Core */

.core {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  padding-top: var(--top-nav-height);
}

/* Bar */

.bar {
  width: 100%;
  height: var(--top-nav-height);
  background: var(--bg-primary);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--module-4);
  border-bottom: 1px solid var(--border-secondary);
  position: fixed;
  top: 0;
}

.homeButton,
.menuButton {
  background: none;
  border: none;
  cursor: pointer;
}

/* Menu */

.themeControlContainer {
  width: var(--module-9);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--module-3);
  padding: var(--module-2);
}

.menuDivider {
  width: 100%;
  height: 1px;
  margin-top: var(--module-3);
}
